	<!-- Header section -->
	<header class="header-section clearfix">
		<div class="container-fluid">
			<a href="index.html" class="site-logo">
				<img src="assets/img/logo.png" alt="">
			</a>
			<div class="responsive-bar"><i class="fa fa-bars"></i></div>
			<a href="#" class="user" id="test"><i class="fa fa-user"></i></a>
			<a href="" [routerLink]='["/loginComponent"]'  class="site-btn">Login</a>
			
			<nav class="main-menu">
				<ul class="menu-list">
					<li><a href="" [routerLink]='["/home"]'>Solution</a></li>
					<li><a href="" [routerLink]='["/featureComponent"]'>Features</a></li>
					<li><a href="" [routerLink]='["/blogComponent"]'>News</a></li>
					<li><a href="" [routerLink]='["/about"]'>About</a></li>
					<li><a href="" [routerLink]='["/contact"]'>Contact</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<!-- Header section end -->
	