
	<!-- Page info section -->
	<section class="page-info-section">
		<div class="container">
			<h2>Contact Us</h2>
			<div class="site-beradcamb">
				<a href="">Home</a>
				<span><i class="fa fa-angle-right"></i> Contact us</span>
			</div>
		</div>
	</section>
	<!-- Page info end -->



	<!-- Contact section -->
	<section class="contact-page spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">

					<form class="contact-form" [formGroup]="ContactForm" (ngSubmit)="save()"  > 
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input class="check-form" type="text" placeholder="First Name*:" formControlName="name" required >
										<!-- <span><i class="ti-check"></i></span>										 -->
										<span class="text-danger" *ngIf="!ContactForm.get('name').valid && ContactForm.get('name').touched" >
											Name is required.
										</span>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input class="check-form" type="text" placeholder="Last Name*:" formControlName="lastName">
										<span class="text-danger" *ngIf="!ContactForm.get('lastName').valid && ContactForm.get('lastName').touched">
												Last Name is required.
											</span>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input class="check-form" type="text" placeholder="Email Adress*:" formControlName="emailid">
										<span class="text-danger" *ngIf="!ContactForm.get('emailid').valid && ContactForm.get('emailid').touched">
											Emailid is required.
										</span>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input class="check-form" type="text" placeholder="Phone Number*:" formControlName="mobile" maxlength="10">
										<span class="text-danger" *ngIf="!ContactForm.get('mobile').valid && ContactForm.get('mobile').touched">
											Mobile is required.
										</span>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<textarea placeholder="Tell us about your question!" formControlName="about"></textarea>
										<span class="text-danger" *ngIf="!ContactForm.get('about').valid && ContactForm.get('about').touched">
											About Name required.
										</span>
									</div>
									<!-- <h5 class="mb-3">Way to Contacts<span>*</span>:</h5>
									<div class="contact-type">
										<label class="ct-label">Phone
											<input type="radio" name="radio">
											 <span class="checkmark"></span>
										</label>
										<label class="ct-label">Email
											<input type="radio" name="radio">
											 <span class="checkmark"></span>
										</label>
										<label class="ct-label">Other
											<input type="radio" name="radio">
											 <span class="checkmark"></span>
										</label>
									</div> -->
	
									<button type="submit" class="site-btn sb-gradients mt-4">Submit form</button>
								</div>
							</div>
						</form>
				</div>
				<div class="col-lg-5 mt-5 mt-lg-0" >
					<!-- <div class="map" id="map-canvas"></div> -->
					<div style="overflow:scroll; height:400px;">
					<table class="table" >
							<thead>
									<tr>
										<td>Edit</td>
										<td>Delete</td>
						<td>Name</td>
						<td>Last Name</td>
						<td>Email</td>
						<td>Mobile</td>
						<td>About</td>
										</tr>
							</thead>
							<tbody *ngFor="let conts of contatList">
									<tr>
										<td><a [routerLink]=""(click)="GetContactDetailById(conts.id)">Edit</a></td>
										<td><a [routerLink]=""(click)="delete(conts.id)">Delete</a></td>
											<!-- <a [routerLink]="['/employee/edit/', emp.id]">Edit</a> | -->
											
						<td>{{ conts.name }}</td>
						<td>{{ conts.lastName }}</td>
						<td>{{ conts.emailId }}</td>
						<td>{{ conts.mobile }}</td>
						<td>{{ conts.about }}</td>
								  </tr>
							</tbody>
							
						</table> 
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Contact section end -->

	


	<!-- Newsletter section -->
	<section class="newsletter-section gradient-bg">
		<div class="container text-white">
			<div class="row">


				<!-- <div class="col-lg-7 newsletter-text">
					<h2>Subscribe to our Newsletter</h2>
					<p>Sign up for our weekly industry updates, insider perspectives and in-depth market analysis.</p>
				</div>
				<div class="col-lg-5 col-md-8 offset-lg-0 offset-md-2">
					<form class="newsletter-form">
						<input type="text" placeholder="Enter your email">
						<button>Get Started</button>
					</form>
				</div> -->
			</div>
		</div>
	</section>
	<!-- Newsletter section end -->


<!-- 	
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0YyDTa0qqOjIerob2VTIwo_XVMhrruxo"></script>
	<script src="js/map.js"></script> -->

